/*Header styling*/
header{
    background-color: #023A75;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
}

.logo-image {
    max-width: 5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 10px 10px;
}

.social-media {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;

    
}

.social-media img{
    margin-bottom: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 70%;
    max-width: 80px;
    min-width: 30px;
}

nav {
    width: 90%;
    margin: auto;
}

nav ul {
    list-style-type:none;
}

a {
    font-family: 'Noto Sans', 'sans-serif';
    text-decoration: none;
    font-size: 1.5rem;
}

footer p {
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 1.5rem;
}

#hamburger {
    border: none;
    font-size: 2rem;
    width: 100%;
    background-color: #E5E6E4;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border-radius: 5px;

}

.nav-element.open {
    order: 1;
    grid-column: 1/4;
    grid-row: 2/3;
}

#primary-nav li a.active {
    background-color: #FBFBF2;
    color: #283618;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

header li a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #FBFBF2;
    padding: .5rem;
    text-align: center;
}

#primary-nav li a {
    font-size: 1rem;
    padding: 1.5rem;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: none;
}

nav ul.open {
    display: block;
}

#hamburger span:nth-child(1) {
    display: block;
}
#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}
#hamburger.open span:nth-child(1) {
    display: none;
}

/*Shared styling between pages*/

.whole-page {
    background-color: #B9B353;
}

main p {
    font-family: 'Noto Sans', 'sans-serif';
}

main ul {
    font-family: 'Heebo', 'serif';
    font-size: 2rem;
}

main li {
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 1.5rem;
    list-style: none;
}

h2 {
    font-family: 'Heebo', 'serif';
    font-size: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.page-title {
    display: block;
    text-align: center;
    color: #FBFBF2;
}

/*Portfolio page styling*/
main.portfolio-page{
    background-color: #B9B353;
}

.portfolio-page {
    display: grid;
    grid-template-columns: 1fr;
}

.portfolio-page picture img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: block;
    margin: 1rem auto;
    max-width: 20rem;
    min-width: 15rem;

}

/*Services Page Styling*/
.services {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    background-color: #283618;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.services picture {
    order: -1;   
}

.services picture img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: block;
    margin: 1rem auto;
}

.services p {
    padding: 3rem;
    color: #f6f7eb;
    text-align: center;
}

/*Prices Page Styling*/

.prices {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #023A75;
    color: #f6f7eb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 1rem;
}

.prices picture {
    display: none;
}

.prices ul {
    padding: 0;
    margin: 3rem;
}

.prices ul li {
    margin: 1rem;
    background-color:#E5E6E4;
    color: #283618;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0;
}


/*Contact Page Styling*/
.contact-page {
    display: grid;
    grid-template-columns: 1fr;
}

.embedded-social-media {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #023A75;
    width: 100px;
    height: 20px;
    margin: 2rem auto;
    padding: 1rem;
}

.contact-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color:#023A75;
    margin: 1rem auto;
    padding: 1rem;
    color: #f6f7eb;
}

.contact-box ul {
    padding: 0;
}

.contact-info li {
    padding: 1rem;
}

.map {
    display: none;
}

button {
    transition: 200ms;
    display: block;
    background-color: #f6f7eb;
    color: #283618;
    padding: 1rem;
    font-family: 'Heebo', 'serif';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

/*Form Page Styling*/

form {
    margin: 2rem .5rem;
}

form fieldset {
    margin: 2rem 1rem ;
    border: 4px dotted #283618;
    border-radius: 5px;

}

form legend {
    color: #283618;
    margin: 0 1rem;
    padding: .3rem .5rem;
    font-weight: 800;
    background-color: #E5E6E4;
    font-family: 'Heebo', 'serif';
    font-size: 1.5rem;
}

form label.contact , form label.pick {
    display: block;
    padding: .5rem .5rem;
    font-weight: 400;
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 1.2rem;

}

form label.contact input {
    display: block;
    font-size: 1rem;
    border-radius: 5px;
    border: solid 3px black;
    padding: 1rem;
    width: 70%;
    max-width: 25rem;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

textarea {
    width: 60%;
    height: 10rem;
    min-width: 300px;
    max-width: 70%;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 5px;

}


textarea::placeholder {
    padding: 1rem 1rem;
    font-weight: 400;
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 1.2rem;
}


form label.contact input:required {
    border-left: rgb(153, 51, 51) solid 5px;
}

form label.contact input:required:valid {
    border-left: green solid 5px ;
}

.form-button {
    font-size: 1.2rem;
}
/*Footer Styling*/

footer {
    background-color: #283618;
    display: grid;
    grid-template-columns: repeat(3,minmax(100px, 1fr));
}

footer p{
    grid-column: 2/3;
    color: #E5E6E4;
    text-align: center;
}
/*MEDIUM SCREEN VIEW*/
@media screen and (min-width: 40em){
    /*Header styling*/
    nav {
        width: 100%;
    }

    #primary-nav li :hover {
        transition: 500ms;
        border-radius: 5px;
        background-color: #f6f7eb;
        color: #283618;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    #primary-nav li a {
        font-size: 1.5rem;
    }
    
    #hamburger {
        display: none;
    }
    
    #primary-nav {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }
    /*Portfolio Styling*/
    .portfolio-page {
        grid-template-columns: repeat(3, minmax(300px,1fr));
    }
    .page-title {
        display: none;
    }
    
    .portfolio-page picture img {
            max-width: none;
            display: inline;
        }
    .picture-1 {
        grid-column: 1/2;
    }

    .picture-2 {
        grid-column: 2/4;
    }

    .picture-3 {
        display: block;
        grid-column: 1/4;
        width: 100%;
        margin: 0 auto;
    }


    /*Prices page Styling*/

    .prices {
        grid-template-columns: 1fr 1fr;
    }
    .prices picture {
        display: block;
        margin: 3rem;
    }

    .prices picture img {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        width: 80%;

    }
    /*Contact Page Styling*/
    
    .contact-page {
        grid-template-columns: repeat(4, 1fr);
    }

    .embedded-social-media {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .map {
        display: block;
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        background-color: #023A75;
        margin: 2rem auto;
        padding: .5rem;
        grid-column: 1/3;
        grid-row: 3/5;
    }

    iframe {
        width: 99%;
        margin: 0 auto;
    }
    .contact-box {
        grid-column: 3/5;
        grid-row: 1/5;
    }

    button:hover {
        background-color: #283618;
        color: #f6f7eb;
        transition: 200ms;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
}
/*LARGE SCREEN VIEW*/
@media screen and (min-width: 64em){
    header {
        grid-template-columns: 100px 1fr;
    }

} 